<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/b988e34ec9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <i class="fa-solid fa-user-clock"></i>
      <h1>Habit Tracker</h1>
      <div id="views">
        <a href="/">Habits View</a>
        <a href="/calendarView">Calendar View</a>
      </div>
    </header>
    <main><%-body%></main>
    <script src="/js/main.js"></script>
  </body>
</html>
